{% extends "base.html" %}
{% block content %}
<h2>Products - New</h2>

<form action="/products" method="post">

  <div>
    <label for="name">Name -</label>
    <input type="text" id="name" name="name" placeholder="Name" required autofocus>
  </div>
<br>
  <div>
    <label for="description">Description -</label>
    <input type="text" id="description" name="description" placeholder="Description" required>
  </div>
<br>
  <div>
    <label for="quantity">Quantity -</label>
    <input type="number" id="quantity" name="quantity" placeholder="Quantity" required>
  </div>
<br>
  <div>
    <label for="buy_price">Buy_price -</label>
    <input type="number" id="buy_price" name="buy_price" placeholder="Buy_price" required>
  </div>
<br>
  <div>
    <label for="sell_price">Sell_price -</label>
    <input type="number" id="sell_price" name="sell_price" placeholder="Sell_price" required>
  </div>
<br>
  <div>
    <label for="category">Category -</label>
    <input type="text" id="category" name="category" placeholder="Category" required>
  </div>
<br>
  <div>
    <label for="supplier">Supplier -</label>
    <select id="supplier" name="supplier_id">
      {% for supplier in all_suppliers %}
        <option value="{{ supplier.id }}">{{ supplier.name }}</option>
      {% endfor %}
    </select>
  </div>
<br>
  <button type="submit">Add Product</button>

</form>

{% endblock %}