{% extends "base.html" %}
{% block content %}
<h2>Product Information</h2>
<hr>
  <h3>{{product.name}}</h3>
    <hr>
    <p>{{product.description}}</p>
    <p>Category: {{product.category}}</p>
    <p>Supplied by {{product.supplier.name}}</p>
    <span><p>Stock: {{product.quantity}} pcs</p> <p><b>{{product.stock_indicator()}}</b></p></span>
    <p>COST: £ {{product.buy_price}}</p>
    <p>RRP: £ {{product.sell_price}}</p>
    <p><a href="/products/{{product.id}}/edit">Edit Product</a></p>
  </div>
<hr>
{% endblock %}