{% extends "base.html" %}
{% block content %}
<h2>Stock Room Dashboard</h2>
<hr>
<h3>Low and Out of Stock</h3>
{% for product in all_products %}
  {% if product.quantity < 10 %}
    <div class="product">
      <div class="content">
        <b><a href="/products/{{product.id}}">{{product.name}}</a></b>
        <div class="name">
          DESC: {{product.description}}
          <br>
          QTY: {{product.quantity}} pcs <b><u>{{product.stock_indicator()}}</u></b>
          <br>
          SUP: {{product.supplier.name}}
          <br>
        </div>
        <div>
          <br>
        </div>
  {% endif %}
{% endfor %}
<hr>
{% endblock %}